<body style="background-image: url('../../assets/nodebackground.jpg')">
    <h1 style="text-align: center">Welcome, {{name}}!!</h1>
    <br> <br> <br> <br> <br>
    <div id="requestform">
        <h3 style="text-align: center">Submit A Request</h3>
        <form #form='ngForm'>
            <div class="form-group">
                <option *ngFor="let name of names" [value]="name">
                  {{ name }}
                </option>
                <input type="text" class="form-control" name="name" placeholder="name" [(ngModel)]="name" required />
            </div>
            <div class="form-group">
                <label for="reason">Reason</label>
                <input type="text" class="form-control" name="reason" placeholder="reason" [(ngModel)]="reason" required />
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="text" class="form-control" name="amount" placeholder="amount" [(ngModel)]="amount" required />
            </div>
            <br>
            <div id="submitbutton" style="text-align: center">
                <button type="submit" style="text-align: center" class="btn btn-primary" (click)="submit()">Submit</button>
            </div>
            <div id="success" style="text-align: center"></div>
        </form>
    </div>
    <div id="viewrequests">
        <h3 style="text-align: center">Past Requests</h3>
        <br> <br> <br>
        <form>
            <div class="form-group">
                <option *ngFor="let name of names" [value]="name">
                  {{ name }}
                </option>
                <input type="text" class="form-control" name="name" placeholder="name" [(ngModel)]="name" required />
            </div>
            <div id="pending" style="text-align: center">
                <button type="button" style="text-align: right" class="btn btn-primary" (click)="pending()">Pending</button>
            </div>
            <div id="resolved" style="text-align: center">
                <button type="button" style="text-align: right" class="btn btn-primary" (click)="resolved()">Resolved</button>
            </div>
        </form>
        <div id="view" style="text-align: center"></div>
    </div>
</body>
<footer>
    <p> © 2021 All rights reserved.</p>
</footer>