<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>{{title}}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
</head>
<body class = "pl-15">
  <nav class="navbar navbar-expand-lg navbar-light bg-ers">
    <a class="navbar-brand" href="https://youtu.be/fT4JWjrZo6w?t=7">ERS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="manager">Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="employee">Employee</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
  </body>